.button{
    text-align: center;
    color: #a2ffec;
    margin: 30px;
    top: 100px;
    padding: 16px;
    font-size: 50px;
    border-radius: 10px;
    box-shadow: 0px 15px 0px 0px, 0px 0px 20px 0px #bbb;
}
